body {
  color: #EADDCA;
  font-family: monospace;
  font-size: 110%;
  text-align: center;
  background-color: #F5DEB3;
  padding-left: 3%;
  padding-right: 3%;
}

h3 {
  color: #5C4033;
}

p {
  color: #5C4033;
}

a:link {
  text-decoration: none;
  color: #5C4033;
}

a:visited {
  text-decoration: none;
  color: #483C32;
}

a:hover {
  text-decoration: none;
  color: #988558;
}

a:active {
  text-decoration: none;
  color: #E1C16E;
}

textarea {
  width: 45%;
  height: auto;
  background-color: #F5DEB3;
}

br#big {
  content: "";
  margin: 50em;
  display: block;
}
