.container {
    max-width: 100%;
}

.custom-file-text {
    display: none;
}

@media (min-width:750px) {
    .container {
        max-width: 50%;
    }
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    max-width: 50%;
}
