<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1.0, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="shortcut icon" href="https://img.icons8.com/ios/52/000000/cloud.png">
        <title> Budapest </title>
    </head>

    <body>
        <div class="container">
            <form method="post" action="/" enctype="multipart/form-data">
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" id="full-name" name="full-name" placeholder="Enter full name" required>
                    <small id="full-name-help" class="form-text text-muted"> Don't forget the middle name! </small>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="gender-radio-male" name="gender-radio" value="Male" checked>
                    <label class="custom-control-label" for="gender-radio-male"> Male </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="gender-radio-female" name="gender-radio" value="Female">
                    <label class="custom-control-label" for="gender-radio-female"> Female </label>
                    <small id="full-name-help" class="form-text text-muted"> &nbsp;&nbsp;&nbsp; (There are only 2 genders) </small>
                </div> <br> <br>

                <div class="form-group">
                    <input type="date" class="form-control" id="date-of-birth" name="date-of-birth" required>
                    <small id="full-name-help" class="form-text text-muted"> Enter the <i>preferred</i> date of birth </small>
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="photo-upload" name="photo" autocomplete="off" required>
                    <label class="custom-file-label" for="photo-upload"> Choose a photo </label>
                    <small id="full-name-help" class="form-text text-muted"> Crop the image using the 5:4 frame </small>
                </div> <br> <br>

                <input class="btn btn-outline-primary" type="submit" value="Submit" id="search-button">
            </form> <br>

            {% if full_name_safe|length > 0 %}
                <img src="{{ url_for('static', filename='database/ids/' + full_name_safe + '_front.png') }}" alt="front"> <br> <br>
                <img src="{{ url_for('static', filename='database/ids/' + full_name_safe + '_back.png') }}" alt="back">
            {% endif %}

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>
    </body>

</html>
